html, body, *{
    padding: 0;
    margin: 0;
}
nav{
    background: #5a5392;
    color: #ffffff;
    height: 60px;
}
/*nav ol li a{
    color: #ffffff;
}*/
nav ol{
    list-style: none;
    padding: 10px 10px;
}
nav ul{
    list-style: none;
}
nav ol li{
    float: left;
    margin: 10px 15px;
}
.color-blanco{
    color: #ffffff;
}
#padawan{
    width: 50%;
    margin: 0 auto;
    background: url(../img/IDE.jpeg);
    min-height: 500px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
